@import url("https://fonts.googleapis.com/css2?family=Oxygen+Mono&family=Oxygen:wght@400;700&display=swap");

:root {
    --font-size: 1.3rem;
    --mono: "Oxygen Mono", monospace;
    --sans: "Oxygen", sans-serif;
    --white: #f1f8fa;
    --black: #071621;
    --text-color: #333;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: -apple-system,
        BlinkMacSystemFont,
        'Segoe UI',
        'Roboto',
        'Helvetica Neue',
        Arial,
        sans-serif;
    font-size: var(--font-size);
    line-height: 1.5;
    text-align: center;
    background-color: var(--black);
    color: var(--text-color);

}


blockquote {
    padding: 2.5rem 0;
    color: var(--text-color);
    text-align: left;
}

li {
    margin: 20px;

}

footer {
    padding: 5px;
    line-height: 1.5rem;
}

ul {
    text-align: left;

}

#main {
    background-color: var(--white);
    margin: 2rem 0.5rem;
    font-family: sans-serif;
    font-weight: 300;
    text-align: center;
}

#title {
    font-size: 1.5;
    padding-top: 50px;
}

#footer {
    font-weight: bold;
    font-size: var(--font-size)
}

#description {
    text-align: center;
}

#image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--black);
    margin: 40px 20px;
    padding: 20px 10px;
}


#image {
    height: auto;
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    display: block;
}

#img-caption {
    text-align: center;
    color: var(--white);
    font-size: 14px;
}


#subtitle {
    font-size: 20px;
    text-align: center;
    padding: 20px 0;
    font-weight: 600;
}

#tribute-info {
    max-width: 60%;
    margin: 0 auto;
}


.quote,
cite {
    font-style: italic;

    font-weight: 100;

}

.quote {
    margin-bottom: 15px;
}

cite,
.quote,
.description {
    font-size: 1rem;
}

@media (max-width: 850px) {
    #tribute-info {
        width: 90%;
        margin: 0 auto;
    }
}