body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: white;
}

#main {
    background-color: #eeeeee;
    margin: 30px;
    font-family: sans-serif;
    font-weight: 300;
    text-align: center;
    box-sizing: border-box;
}

#title {
    font-size: 150px;
    padding-top: 50px;
}

#description {
    text-align: center;
}

#img-div {
background-color: white;
margin: 40px 20px;
padding: 20px 10px;
}

img {
    margin-bottom: 15px;
    max-width: 100%;
    height: auto;
}

#image {
    display: block;
}

#img-capton {
    text-align: center;
    font-size: 14px;
}

#subtitle {
    font-size: 20px;
    text-align: center;
    padding: 20px 0;
    font-weight: 600;
}

#tribute-info {
    width: 60%;
    margin: 0 auto;
}

ul, #quote {
    max-width: 550px;
}

li {
    margin: 20px;

}#quote {
    font-style: italic;
    margin: 20px;
    text-align: justify;
    max-width: 500px;
}

@media (max-width: 750px) {
    #tribute-info {
        width: 90%;
    }
}

footer {
    padding: 5px;
    line-height: 1.5rem;
}

